<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="body">
<div class="container">
    <h1>Sign In</h1>
    <form action="https://flight-app.devopsheros.com/shop" method="post">
        <label>Username:</label>
        <input type="text" name="username" required>
        <label>Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Sign In</button>
    </form>
</div>
</body>
</html>